@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('../Fonts/CaviarDreams-webfont.eot');
    src: url('../Fonts/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/CaviarDreams-webfont.woff') format('woff'),
         url('../Fonts/CaviarDreams-webfont.ttf') format('truetype'),
         url('../Fonts/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('../Fonts/Caviar_Dreams_Bold-webfont.eot');
    src: url('../Fonts/Caviar_Dreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/Caviar_Dreams_Bold-webfont.woff') format('woff'),
         url('../Fonts/Caviar_Dreams_Bold-webfont.ttf') format('truetype'),
         url('../Fonts/Caviar_Dreams_Bold-webfont.svg#caviar_dreamsbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*Fuentes de Iconos*/
@font-face {
	font-family: 'Iconos';
	src:url('../Fonts/Iconos.eot?wcl35r');
	src:url('../Fonts/Iconos.eot?#iefixwcl35r') format('embedded-opentype'),
		url('../Fonts/Iconos.woff?wcl35r') format('woff'),
		url('../Fonts/Iconos.ttf?wcl35r') format('truetype'),
		url('../Fonts/Iconos.svg?wcl35r#Iconos') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'Iconos';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-flecha-abajo:before
{
	content: "\e600";
}

.icon-flecha-arriba:before
{
	content: "\e601";
}

.icon-estrella:before
{
	content: "\e602";
	margin-right: 0.5em;
	position: relative;
	top: 0.1em;
}

.icon-lapiz:before
{
	content: "\e603";
	margin-right: 0.5em;
}

a
{
	color: #22BCE0;
}

aside
{
	display: none;
}

body
{
	background-color: #EEEEEE;
	font-family: 'caviar_dreamsregular';
	font-size: 16px;
}

footer
{
	background-color: #22BCE0;
	color: rgba(255,255,255,0.7);
	padding: 1em;
	text-align: center;
}

footer p:first-child
{
	margin-bottom: 0;
}

footer p:last-child
{
	margin-top: 0;
}

footer p:last-child:after
{
	content: " -"
}

footer p:last-child:before
{
	content: "- "
}

header
{
	background-color: #2a2a25;
	color: white;
	overflow: hidden;
	padding: 0.5em;
	position: relative;
}

header figure
{
	float: left;
}

header h1
{
	font-size: 1.8em;
	font-weight: normal;
	margin: 0.8em 2em 0 3em ;
}

h2
{
	font-size: 1.5em;
	margin: 1em 0 0em 1em;
}
header #Avatar
{
	margin: 0.7em 0.7em 0 0;
	position: absolute;
	right: 0;
	top: 0;
}

header #Avatar img
{
	border-radius: 50%;
	width: 50px;
	border: 3px solid #F3502A;
}

header #Logo
{
	border-right: 1px solid white;
	padding-right: 0.5em;
	margin-left: 0;
	margin-right: 0.5em;
}

header #Logo img
{	
	width: 80px;
}

header #Logo img:hover
{ 
	-webkit-transform: rotate(360deg);
	-webkit-transition:0.8s;
}

nav
{
	background-color: #21afd9;
	position: relative;
}

nav ul
{
	line-height: 20px;
	list-style: none;
	margin: 0;
	padding: 0 7em 0 0.5em;
	overflow-x: auto;
	white-space: nowrap;
}

nav ul li
{
	display: inline-block;
	margin: 0 2em 0 0;
}

nav ul li a
{
	color: white;
	display: block;
	padding: 0.5em;
	text-decoration: none;
	-webkit-transition: 0.3s;
}
nav ul li a:hover
{
	color: black;
	background-color: rgba(255,255,255,0.7);
}

nav ul #Publicar_Nav 
{
	position: absolute;
	margin: -1.8em 0.5em ;
	right: 0;
	top: -0.1em;
}

nav ul #Publicar_Nav a
{
	background-color: #fec209;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
	font-style: italic;
	padding: 0.6em 0.8em;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
}

nav ul #Publicar_Nav a:hover
{
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
}

#Contenido
{
	margin: 1em;
}

#Contenido .Item
{
	background-color: white;
	border-bottom: 3px solid #22BCE0;
	margin-bottom: 3em;
	min-height: 128px;
	position: relative;
}

#Contenido .Item .Autor_Item
{
	color: #AAA;
}

#Contenido .Item .Datos_Item
{
	margin: 1em 1em 0 0;
}

#Contenido .Item .Datos_Item .Fecha_Item
{
	color: #AAA;
	float: right;
}

#Contenido .Item .Datos_Item .Tag_Item
{
	background-color: #F3502A;
	border-radius: 0.5em;
	color: white;
	display: inline-block;
	padding: 0.2em 0.5em;
	text-decoration: none;
}

#Contenido .Item .DaftPunk_Item
{
	float: left;
	margin-right: 1em;
}

#Contenido .Item .DaftPunk_Item img
{
	width: 96px;
}

#Contenido .Item .Titulo_Item
{
	font-family: 'caviar_dreamsbold';
	font-size: 1.1em;
	font-style: italic;
	margin-top: -0.5em;
	padding: 1em 1em 0 0;
}

#Contenido .Item .Titulo_Item a
{
	color: #444;
	text-decoration: none;
}

#Contenido .Item .Titulo_Item a:hover
{
	color: #43a9ff;
}

#Contenido .Item .Votacion
{
	background-color: white;
	border-radius: 0 0 0.5em 0.5em;
	left: 3%;
	margin-top: 3px;
	padding: 0.5em 1em;
	position: absolute;
	right: 3%;
	top: 100%;
}

#Contenido .Item .Votacion a
{
	text-decoration: none;
}

#Contenido .Item .Guardar_Item
{
	color: #ffe849
}

#Contenido .Item .Votacion .Down
{
	color: #ff000e;
}

#Contenido .Item .Votacion .Up
{
	color: #13c80d;
}


#Contenido .Item .Votacion .Comentarios_Item,
#Contenido .Item .Votacion .Guardar_Item
{
	float: right;
}

@media screen and (max-width: 480px) {
	aside
	{
		display: block;
		margin: 1em;
	}

	aside video
	{
		margin: 0 0 2em 0em;
		width: 100%;
	}

}

@media screen and (min-width: 800px) {
	#Contenido
	{
		overflow: hidden;
	}

	#Contenido .Item
	{
		float: left;
		width: 49%;
	}

	#Contenido .Item:nth-child(odd)
	{
		margin-right: 2%;
	}
}

@media screen and (min-width: 1000px){
	aside
	{
		display: block;
		float: right;
		margin: 1em;
		width: 25%;
	}

	aside video
	{
		margin: 0 0 2em 0em;
		width: 100%;
	}
}

/* Formulario */

.formulario
{
	padding: 1em;
	text-align: right;
	display: none;
}

.formulario input
{
	border: 1px solid #888;
	border-radius: 5px;
	padding: 0.2em 0.6em;
}

