a{
	color: #22BCE0;
}

body{
	background-color: #EEEEEE;
	font-family: Arial;
	font-size: 16px;
}

footer{
	background-color: #22BCE0;
	color: rgba(255,255,255,0.7);
	padding: 1em;
	text-align: center;
}

footer p:first-child{
	margin-bottom: 0;
}

footer p:last-child{
	margin-top: 0;
}

footer p:last-child:after{
	content: " -"
}

footer p:last-child:before{
	content: "- "
}

header{
	background-color: #1d1d19;
	color: white;
	overflow: hidden;
	padding: 0.5em;
	position: relative;
}

header figure{
	float: left;
}

header h1{
	font-size: 1.2em;
	font-weight: normal;
	margin: 0 70px 0 0 ;
}

header #Avatar {
	margin: 0.7em 0.7em 0 0;
	position: absolute;
	right: 0;
	top: 0;
}

header #Avatar img{
	border-radius: 50%;
	width: 50px;
}

header #Logo img{
	border-right: 1px solid white;
	padding-right: 0.5em;
	margin-right: 0.5em;
	width: 80px;
}

nav{
	background-color: #0f7acb;
	position: relative;
}

nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li{
	display: inline-block;
	margin: 0 1em 0 0;
}

nav ul li a{
	color: white;
	display: block;
	padding: 0.5em;
	text-decoration: none;
}

nav ul #Publicar_Nav {
	position: absolute;
	right: 0;
	top: -0.1em;
}

nav ul #Publicar_Nav a{
	background-color: #fec209;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	font-style: italic;
	padding: 0.6em 0.8em;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
}

#Contenido{
	margin: 1em;
}

#Contenido .Item{
	background-color: white;
	border-bottom: 3px solid #22BCE0;
	margin-bottom: 3em;
	min-height: 128px;
	position: relative;
}

#Contenido .Item .Autor_Item{
	color: #AAA;
}

#Contenido .Item .Datos_Item{
	margin: 1em 1em 0 0;
}

#Contenido .Item .Datos_Item .Fecha_Item{
	color: #AAA;
	float: right;
}

#Contenido .Item .Datos_Item .Tag_Item{
	background-color: #F3502A;
	border-radius: 0.5em;
	color: white;
	display: inline-block;
	padding: 0.2em 0.5em;
	text-decoration: none;
}

#Contenido .Item .DaftPunk_Item{
	float: left;
	margin-right: 1em;
}

#Contenido .Item .DaftPunk_Item img{
	width: 96px;
}

#Contenido .Item .Titulo_Item{
	font-size: 1.2em;
	font-style: italic;
	margin-bottom: 0;
	padding: 1em 1em 0 0;
}

#Contenido .Item .Titulo_Item a{
	color: #444;
	text-decoration: none;
}

#Contenido .Item .Votacion{
	background-color: white;
	border-radius: 0 0 0.5em 0.5em;
	left: 3%;
	margin-top: 3px;
	padding: 0.5em 1em;
	position: absolute;
	right: 3%;
	top: 100%;
}

#Contenido .Item .Votacion .Comentarios_Item,
#Contenido .Item .Votacion .Guardar_Item{
	float: right;
}

